.App {
  text-align: center;
}

.todo-wrapper {
  margin: 20px auto 20px auto;
  width: 500px;
  min-height: 600px;
  border: 5px solid #00fff3;
  padding: 20px
}

.btn-danger {
  padding-top: 0px !important;
}

.btn {
  width: 80px !important;
  padding-top: 0px !important;
}

@media (max-width: 600px) {
  .todo-wrapper {
    width: 400px;
    min-height: 600px;
  }
}

@media (max-width: 600px) {
  .inputBox {
    width: 190px;
  }
}

@media (max-width: 600px) {
  .btn-primary {
    width: 56px;
  }
}